<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SPA</display-name>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
      <servlet-name>allEmploye</servlet-name>
      <servlet-class>ua.lviv.Controller.AllEmployeController</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>allEmploye</servlet-name>
      <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>editEmploye</servlet-name>
  	<servlet-class>ua.lviv.Controller.EditController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>editEmploye</servlet-name>
  	<url-pattern>/edit</url-pattern>
  </servlet-mapping>
  
</web-app>